<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar clientes - CRUD</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Usuários:</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>UF</th>
          <th>Editar</th>
          <th>Deletar</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.nome %></td>
          <td><%= user.idade %></td>
          <td><%= user.uf %></td>
          <td><a href="/editar/<%= user.id %>">Editar</a></td>
          <td><a href="/usuarios/<%= user.id %>">Excluir</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
